
:root {
  --bg-color: #f8f9fa;
  --active-color: #28a745;
  --active-text-color: #ffffff;
  --border-color: #dee2e6;
  --text-color: #495057;
  --btn-hover-color: #218838;
}


.scheduler-container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.scheduler-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.scheduler-row:last-child {
  border-bottom: none;
}

.scheduler-row label {
  margin-right: 10px;
  color: var(--text-color);
}

.scheduler-row input[type="time"] {
  margin-right: 10px;
}

.scheduler-row button {
  padding: 5px 10px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scheduler-row button:hover {
  background-color: var(--btn-hover-color);
  color: var(--active-text-color);
}

.day-selector {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.day-selector button {
  padding: 5px 10px;
  margin: 2px;
  border: 1px solid var(--border-color);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.day-selector button.active {
  background-color: var(--active-color);
  color: var(--active-text-color);
}





.navigation ul li a .icon{
    position: relative;
    bottom: 15px;
}
.navigation ul li a .title{
    position: relative;
    right: 15px;
}


.navigation ul li a .icon{
    position: relative;
    bottom: 15px;
}
.navigation ul li a .title{
    position: relative;
    right: 15px;
}




