{% load static %}

<head>
    <title>Gestion Technique des Batiments</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static  'css/style.css '%}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span style="font-size: 22px;margin-left: 20px;" class="title">GTB</span>
                    </a>
                </li>

                <li>
                    <a id="dashboard" href="/dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a id="pilotage" href="/pilotage">
                        <span class="icon">
                            <ion-icon name="flash-outline"></ion-icon>
                        </span>
                        <span class="title">Pilotage</span>
                    </a>
                </li>

                <li>
                    <a id="configurationgtb" href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Configuration GTB</span>
                    </a>
                </li>

                <li>
                    <a id="visualisation" href="/visualisation">
                        <span class="icon">
                            <ion-icon name="analytics-outline"> </ion-icon>
                        </span>
                        <span class="title">Visualisation</span>
                    </a>
                </li>
                <li>
                  <a id="Planification" href="#">
                      <span class="icon">
                          <ion-icon  name="code-working-outline"></ion-icon>
                      </span>
                      <span class="title">Planification Automatique</span>
                  </a>
              </li>
            </div>

               <!---- ---- <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    
        <!- -- ========================= Main ==================== -->
        ---- <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

              
                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <!-- ======================= pilotage here ================== -->
          
            <div class="content-container" id="content-container">
              <!-- Content will be dynamically loaded here -->
          </div>

        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
      // Function to load content dynamically
      function loadContent(contentName) {
          var contentContainer = document.getElementById('content-container');
          
          // Use AJAX or fetch to load content from the server based on the contentName
          // Example using fetch:
          fetch(`${contentName}`)
              .then(response => response.text())
              .then(data => {
                  contentContainer.innerHTML = data;
              })
              .catch(error => {
                  console.error('Error loading content:', error);
              });
            //   document.getElementById('pilotage').style.backgroundColor = "#2a2185";
            //   document.getElementById('dashbaord').style.backgroundColor = "#2a2185";
            //   document.getElementById('Planification').style.backgroundColor = "#2a2185";
            //   document.getElementById('visualisation').style.backgroundColor = "#2a2185";
            //   document.getElementById('configurationgtb').style.backgroundColor = "#2a2185";
      }

      // Add click event listeners to your menu items
      document.getElementById('dashboard').addEventListener('click', function() {
          loadContent('dashboard');
        //   document.getElementById('dashboard').style.backgroundColor = "white";
        //   document.getElementById('dashboard').style.color = "2a2185";
      });

      document.getElementById('pilotage').addEventListener('click', function() {
          loadContent('pilotage');
        //   document.getElementById('pilotage').style.backgroundColor = "white";
        //   document.getElementById('pilotage').style.color = "2a2185";
          
      });


      document.getElementById('configurationgtb').addEventListener('click', function() {
          loadContent('configurationgtb');
        //   document.getElementById('configurationgtb').style.backgroundColor = "white";
        //   document.getElementById('configurationgtb').style.color = "2a2185";
setTimeout(()=>{
    document.getElementById("ajoutbtn").addEventListener( "click", function(){
   var table = document.getElementsByTagName('table')[0];
   var popup = document.getElementsByClassName('popup')[0];

console.log(table.style.display == 'none');

   if(table.style.display == 'none'){
    loadContent('configurationgtb');
   }else{
    table.style.display = 'none';
    popup.style.display = 'block';
   }


   }
)

},1000)        
      


      });

      document.getElementById('visualisation').addEventListener('click', function() {
          loadContent('visualisation');
        //   document.getElementById('visualisation').style.backgroundColor = "white";
        //   document.getElementById('visualisation').style.color = "2a2185";
      });
    

      document?.getElementById('Planification')?.addEventListener('click', function() {
          loadContent('planification');
      });

      // Add similar listeners for other menu items as needed




      console.log("fff",document.getElementById("ajoutbtn"));



  </script>


</body>
