{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <link rel="stylesheet" href="{% static  'css/style.css '%}">
  <link rel="stylesheet" href="{% static  'css/pilotage.css '%}">

  <title>Gestion Technique des Batiments</title>
</head>


<body>
  

  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span  class="title">G T B</span>
          </a>
        </li>

        <li>
          <a id="dashboard" href="/dashboard">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>

        <li>
          <a id="pilotage" href="/pilotage">
            <span class="icon">
              <ion-icon name="flash-outline"></ion-icon>
            </span>
            <span class="title">Pilotage</span>
          </a>
        </li>

        <li>
          <a id="configurationgtb" href="/configurationgtb">
            <span class="icon">
              <ion-icon name="settings-outline"></ion-icon>
            </span>
            <span class="title">Configuration GTB</span>
          </a>
        </li>

        <li>
          <a id="visualisation" href="/visualisation">
            <span class="icon">
              <ion-icon name="analytics-outline"> </ion-icon>
            </span>
            <span class="title">Visualisation</span>
          </a>
        </li>
        <li>
          <a id="Planification" href="/planification">
            <span class="icon">
              <ion-icon name="code-working-outline"></ion-icon>
            </span>
            <span class="title">Planification Automatique</span>
          </a>
        </li>
    </div>

    <div class="main">
      <div class="topbar">
        <div class="toggle">
          
        </div>


       
      </div>

      <!-- ======================= pilotage here ================== -->


      <div class="container-uu">
        <h1   class="h1_pilotage" >  Pilotage et Fléxibilité </h1>
        <div id="leftNodes">
          <div class="node">


            <table class="table_pilotage" >
              <tr class="tr_pilotage" >
                <td class="noeud1_pilotage" rowspan="2">Noeud 1</td>
                <td>Lampe 1</td>
                <td><button  class="on">ON</button></td>
                <td><button class="off">OFF</button></td>
                <td id="state1">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
              <tr>
                <td>Lampe 2</td>
                <td><button  class="on">ON</button></td>
                <td><button  class="off">OFF</button></td>
                <td id="state2">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
            </table>

            <div>
             
              <div class="date">
  <div  class="btns">
   
  </div> 
  
              </div>
              <div class="chart">
                <div class="mychart1_pilotage" >
                  <canvas id="myChart1" ></canvas>
                </div>
              </div>
            </div>

          </div>

          <div  class="node">


            <table class="table2_pilotage">
              <tr style="border: none;">
                <td class="noeud2_pilotage"  rowspan="2">Noeud 2</td>
                <td>Lampe 1</td>
                <td><button onclick="turnOn(1)" class="on">ON</button></td>
                <td><button onclick="turnOff(1)" class="off">OFF</button></td>
                <td id="state1">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
              <tr>
                <td>Lampe 2</td>
                <td><button onclick="turnOn(2)" class="on">ON</button></td>
                <td><button onclick="turnOff(2)" class="off">OFF</button></td>
                <td id="state2">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
            </table>

            <div>
             
              <div class="date">
  <div class="btns">
   
  </div> 
  
              </div>
              <div class="chart">
                <div class="mychart2_pilotage" >
                  <canvas id="myChart2" ></canvas>
                </div>
              </div>
            </div>

          </div>

          <div class="node">


            <table class="table3_pilotage" >
              <tr style="border: none;">
                <td class="noeud3_pilotage"  rowspan="2">Noeud 3</td>
                <td>Lampe 1</td>
                <td><button onclick="turnOn(1)" class="on">ON</button></td>
                <td><button onclick="turnOff(1)" class="off">OFF</button></td>
                <td id="state1">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
              <tr>
                <td>Lampe 2</td>
                <td><button onclick="turnOn(2)" class="on">ON</button></td>
                <td><button onclick="turnOff(2)" class="off">OFF</button></td>
                <td id="state2">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
            </table>

            <div>
             
              <div class="date">
  <div class="btns">
   
  </div> 
  
              </div>
              <div  class="chart">
                <div  class="chart3_pilotage" >
                  <canvas id="myChart3" ></canvas>
                </div>
              </div>
            </div>

          </div>

        </div>
        <h2 class="consommation_pilotage" >La consommation Totale Journaliére(en W)</h2>
        <div  class="chart">
          <div  class="chart4_pilotage" >
            <canvas id="myChart4" ></canvas>
          </div>
        </div>

  
          


      </div>
    </div>

      </div>

    </div>

  <!-- =========== Scripts =========  -->
  <script src="assets/js/main.js"></script>

  <!-- ====== ionicons ======= -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  <script type="module" src="{% static  'js/1.js' %}"></script>
</body>

</html>
