
{% load static %}  <!--est une directive utilisée dans les templates Django pour charger les fichiers statiques dans les templates HTML-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <link rel="stylesheet" href="{% static  'css/style.css '%}">
  <link rel="stylesheet" href="{% static  'css/pilotage12.css '%}">
  <link rel="stylesheet" href="{% static  'css/1.css '%}">

  <title>Gestion Technique des Batiments</title>
</head>


<body>
  

  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
      <ul>
          <li>
              <a href="#" class="img">
              
                <img  src="{% static 'imgs/gtb14.jpg' %}" alt="Lampe éteinte" id="leteint3">

              </a>
          </li>

        <!--<li>
              <a id="dashboard" href="/dashboard">
                  <span class="icon">
                      <ion-icon name="home-outline"></ion-icon>
                  </span>
                  <span class="title">Dashboard</span>
              </a>
          </li>-->

          <li>
              <a id="pilotage" href="/pilotage">
                  <span class="icon">
                      <ion-icon name="flash-outline"></ion-icon>
                  </span>
                  <span class="title">Pilotage</span>
              </a>
          </li>

          <li>
              <a id="configurationgtb" href="/configurationgtb">
                  <span class="icon">
                      <ion-icon name="settings-outline"></ion-icon>
                  </span>
                  <span class="title">Configuration GTB</span>
              </a>
          </li>

          <li>
              <a id="visualisation" href="/visualisation">
                  <span class="icon">
                      <ion-icon name="analytics-outline"> </ion-icon>
                  </span>
                  <span class="title">Visualisation</span>
              </a>
          </li>
          <li>
              <a id="Planification" href="/planification">
                  <span class="icon">
                      <ion-icon name="code-working-outline"></ion-icon>
                  </span>
                  <span class="title">Planification Automatique</span>
              </a>
          </li>
          {% if user.is_authenticated %}  <!-- vérifier si un utilisateur est authentifié ou non-->
                <li>
                    <a href="/logout" id="sign out">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="/login" id="sign out">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign In</span>
                    </a>
                </li>
          {% endif %}
    </ul>
      </div>

    <div class="main">
      <div class="topbar">
        <div class="toggle">
          
        </div>


       
      </div>

      <!-- ======================= pilotage here ================== -->


      <div class="container-uu" id="data-container" datalist="{{ data }}"><!--utilisée dans les frameworks web comme Django , pour insérer dynamiquement des données dans des modèles HTML-->
        <h1   style=" color:#2a2185;  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  margin-bottom: 100px; font-size: 68px;"  class="h1_pilotage"> Pilotage et Dashboard</h1>

        <div id="leftNodes">
          <div style="margin-bottom: 150px;" class="node">
            <table class="table_pilotage" >
              <tr class="tr_pilotage" >
                <td class="noeud1_pilotage" rowspan="2">Noeud 1</td>
                <td>Lampe 1</td>
                <td><button  class="on">ON</button></td>
                <td><button class="off">OFF</button></td>
                <td id="state1">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
              <tr>
                <td>Lampe 2</td>
                <td><button  class="on" style ="box-shadow: 0 0 25px rgba(5, 255, 34, 0.5);">ON</button></td>
                <td><button  class="off">OFF</button></td>
                <td id="state2">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
            </table>

            <div>
             
              <div class="date">
  <div  class="btns">
   
  </div> 
  
              </div>
              <h2 style="margin-left:0px;  margin-bottom:-70px;"  class="consommation_pilotage" >Courbe de charge  en (kWh)</h2>

              <div class="chart">
                <div class="mychart1_pilotage">
                  <canvas id="myChart1" ></canvas>
                </div>
              </div>
            </div>

          </div>

          <div  style="margin-bottom: 150px;"   class="node">


            <table class="table2_pilotage">
              <tr style="border: none;">
                <td class="noeud2_pilotage"  rowspan="2">Noeud 2</td>
                <td>Lampe 1</td>
                <td><button onclick="turnOn(1)" class="on">ON</button></td>
                <td><button onclick="turnOff(1)" class="off">OFF</button></td>
                <td id="state1">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
              <tr>
                <td>Lampe 2</td>
                <td><button onclick="turnOn(2)" class="on">ON</button></td>
                <td><button onclick="turnOff(2)" class="off">OFF</button></td>
                <td id="state2">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
            </table>

            <div>
             
              <div class="date">
  <div class="btns">
   
  </div> 
  
              </div>
              <h2 style="margin-left:0px;  margin-bottom:-70px;"  class="consommation_pilotage" >Courbe de charge  en (kWh)</h2>

              <div class="chart">
                <div class="mychart2_pilotage" >
                  <canvas id="myChart2" ></canvas>
                </div>
              </div>
            </div>

          </div>

          <div  style="margin-bottom: 150px;"  class="node">


            <table class="table3_pilotage" >
              <tr style="border: none;">
                <td class="noeud3_pilotage"  rowspan="2">Noeud 3</td>
                <td>Lampe 1</td>
                <td><button onclick="turnOn(1)" class="on">ON</button></td>
                <td><button onclick="turnOff(1)" class="off">OFF</button></td>
                <td id="state1">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
              <tr>
                <td>Lampe 2</td>
                <td><button onclick="turnOn(2)" class="on">ON</button></td>
                <td><button onclick="turnOff(2)" class="off">OFF</button></td>
                <td id="state2">
                  <img width="40" src="{% static 'imgs/light-off.jpg' %}" alt="Lampe éteinte" id="leteint3">
                </td>
              </tr>
            </table>

            <div>
             
              <div class="date">
  <div class="btns">
   
  </div> 
  
              </div>
              <h2 style="margin-left:0px;  margin-bottom:-70px;"  class="consommation_pilotage" >Courbe de charge  en (kWh)</h2>

              <div  class="chart">
                <div  class="chart3_pilotage" >
                  <canvas id="myChart3" ></canvas>
                </div>
              </div>
            </div>

          </div>

        </div>
        <h2 style="margin-left:60px;  margin-bottom:-300px;"  class="consommation_pilotage" >La consommation Totale Journaliére en (KWh)</h2>
        <div  class="chart">
          <div  class="chart4_pilotage" >
            <canvas style="margin-left:60px;" id="myChart4" ></canvas>
          </div>
        </div>

          


      </div>
    </div>

      </div>

    </div>

  <!-- =========== Scripts =========  -->
  <script src="assets/js/main.js"></script>

  <!-- ====== ionicons ======= -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



  <script type="module" src="{% static  'js/pilotage.js' %}"></script>


  <script>

// JSON.parse(JavaScript Object Notation)  utilisé pour échanger des données entre un serveur et un client.
var myData = JSON.parse('{{ data|escapejs }}');  //La fonction escapejs est souvent utilisée pour échapper les caractères spéciaux en JavaScript afin d'éviter les attaques XSS
var data1 = new Array();
var data2 = new Array();
var data3 = new Array();
var all_data = new Array();
for(let i=0;i<myData[0].length;i++){
  data1[i] = (myData[0][i][0] + myData[0][i][1])/2
}
for(let i=0;i<myData[1].length;i++){
  data2[i] = (myData[1][i][0] + myData[1][i][1])/2
}
for(let i=0;i<myData[2].length;i++){
  data3[i] = (myData[2][i][0] + myData[2][i][1])/2
}

for(let i=0;i<myData[0].length;i++){
  all_data[i] = ( data1[i] + data1[i] + data1[i] ) / 3;
}
  console.log("ll",data1);
var ctx = document.getElementById('myChart1').getContext('2d');// Récupère le contexte 2D du canvas avec l'ID "myChart1". Cela permettra de dessiner le graphique.
var myChart1 = new Chart(ctx, {
    type: 'bar',
    data: {
      //définit les étiquettes qui seront utilisées sur l'axe horizontal (X) du graphique.  
        labels: ["00h00", "01h00", "02h00","03:00", "04h00", "05h00","06h00", "07h00","08h00", "09h00", "10h00","11h00","12h00" ,"13h00","14h00", "15h00", "16h00","17h00","18h00", "19h00","20h00", "21h00", "22h00","23h00"],
        datasets: [{
            label:'',
            data: data1,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});




  
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["00h00", "01h00", "02h00","03h00", "04h00", "05h00","06h00", "07h00","08h00", "09h00", "10h00","11h00","12h00" ,"13h00","14h00", "15h00", "16h00","17h00","18:00", "19h00","20h00", "21h00", "22h00","23h00"],
        datasets: [{
            label:'',
            data: data2,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});





  
var ctx = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["00h00", "01h00", "02h00","03h00", "04h00", "05h00","06h00", "07h00","08h00", "09h00", "10h00","11h00","12:00" ,"13h00","14h00", "15h00", "16h00","17h00","18:00", "19h00","20h00", "21h00", "22h00","23h00"],        datasets: [{
            label:'',
            data: data3,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


var ctx = document.getElementById('myChart4').getContext('2d');
var myChart3 = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["00h00", "01h00", "02h00","03:00", "04h00", "05h00","06h00", "07h00","08h00", "09h00", "10h00","11h00","12:00" ,"13h00","14h00", "15h00", "16h00","17h00","18:00", "19h00","20h00", "21h00", "22h00","23h00"],        datasets: [{
            label:'',
            data: all_data,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});





  </script>
</body>

</html>