



{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <link rel="stylesheet" href="{% static  'css/style.css '%}">
  <link rel="stylesheet" href="{% static  'css/planif.css '%}">

  <title>Gestion Technique des Batiments</title>
</head>


<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span style="font-size: 72px;margin-left: 20px;" class="title">G T B</span>
                </a>
            </li>

            <li>
                <a id="dashboard" href="/dashboard">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a id="pilotage" href="/pilotage">
                    <span class="icon">
                        <ion-icon name="flash-outline"></ion-icon>
                    </span>
                    <span class="title">Pilotage</span>
                </a>
            </li>

            <li>
                <a id="configurationgtb" href="/configurationgtb">
                    <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="title">Configuration GTB</span>
                </a>
            </li>

            <li>
                <a id="visualisation" href="/visualisation">
                    <span class="icon">
                        <ion-icon name="analytics-outline"> </ion-icon>
                    </span>
                    <span class="title">Visualisation</span>
                </a>
            </li>
            <li>
              <a id="Planification" href="/planification">
                  <span class="icon">
                      <ion-icon  name="code-working-outline"></ion-icon>
                  </span>
                  <span class="title">Planification Automatique</span>
              </a>
          </li>
        </div>

    <div class="main">
          <div class="topbar">
              <div class="toggle">
                  
              </div>

            
              <div class="user">
              </div>
          </div>
    

</head>
<body>
  
<h1    class="h1_planification">  Planification Automatique</h1>

<div class="content">
  <a>
      <button style="float: right; margin-bottom: 50px;" id="add_cmd_btn"> Ajouter une commande</button>
     
  </a>
<table  id="table">
  <tr>
    <th>date de debut</th>
    <th>date de fin</th>
    <th>lampe</th>
    <th>actions</th>
  </tr>
  {% for planification in planifications %}
  
  <form id="deteleplanificationForm" method="post" action="{% url 'delete_planification' %}">
  {% csrf_token %}

  <tr>
      <td>{{planification.start_date}}</td>
      <td>{{planification.end_date}}</td>
      <td>{{planification.lampe}}</td>
      <input type="hidden" name="id_plan_hidden" value="{{planification.id}}">
      <td class="action-buttons">
          <button  type="button" onclick="openEditForm('{{ planification.lampe.id}}', '{{ planification.start_date }}', '{{ planification.end_date }}', '{{ planification.lampe }}', '{{ planification.id }}')" class="modifier-button">Modifier</button>
          <button type="submit" class="annuler-button">Supprimer</button>
      </td>
  </tr>
  </form>
  {% endfor %}

</table>

     
  
<button class="afficher_liste" style="position: relative; left: 800px; margin-bottom: 40px; display: none" id="aff_liste_btn">afficher la liste</button>
<div style="display: none;" id="scheduler-container" class="scheduler-container" aria-label="Lamp Scheduler">
  <form id="planificationForm" method="post" action="{% url 'add_planification' %}">
    {% csrf_token %}
    <div class="scheduler-row">
      <label for="lamp-selector">Sélectionnez la lampe :</label>
      <select name="sel" id="lamp-selector">
        {% for lampe in lampes %}
          <option value={{lampe.id}}>{{lampe}}</option>
        {% endfor %}
  
      </select>
    </div>
  
    <div class="scheduler-row">
      <label for="time-on">Time On:</label>
      <input name="date1" type="datetime-local" id="time-on">
    </div>
    <div class="scheduler-row">
      <label for="time-off">Time Off:</label>
      <input name="date2" type="datetime-local" id="time-off">
    </div>
    <div class="scheduler-row">
      <button type="reset" >Annuler</button>
      <button type="submit">Appliquer</button>
    </div>
  </form>


</div>


<div style="display: none;" id="edit_form_div" class="scheduler-container" aria-label="Lamp Scheduler">
  <form id="edit_form" method="post" action="{% url 'edit_planification' %}" >
    {% csrf_token %}
    <div class="scheduler-row">
      <label for="lamp-selector">Sélectionnez la lampe :</label>
      <input type="hidden" id="id_plan_hidden" name="id_plan_hidden">
      <select name="sel" id="edit_lamp_selector">
        {% for lampe in lampes %}
          <option value={{lampe.id}}>{{lampe}}</option>
        {% endfor %}
  
      </select>
    </div>
  
    <div class="scheduler-row">
      <label for="time-on">Time On:</label>
      <input name="date1" type="datetime-local" id="my_date_d">
    </div>
    <div class="scheduler-row">
      <label for="time-off">Time Off:</label>
      <input name="date2" type="datetime-local" id="my_date_f">
    </div>
    <div class="scheduler-row">
      <button type="reset" >Annuler</button>
      <button type="submit">Appliquer</button>
    </div>
  </form>


</div>


</div>



<script>

var addCmdBtn = document.getElementById("add_cmd_btn");
var affListeBtn = document.getElementById("aff_liste_btn");
var scheduler_container = document.getElementById("scheduler-container");
var table = document.getElementById("table");

addCmdBtn.addEventListener( "click", () => {
    table.style.display = "none";
    scheduler_container.style.display = "";
    addCmdBtn.style.display = "none";
    affListeBtn.style.display = "";
  })
  affListeBtn.addEventListener( "click", () => {
    table.style.display = "";
    scheduler_container.style.display = "none";
    addCmdBtn.style.display = "";
    affListeBtn.style.display = "none";
})

</script>
        



<script>

function openEditForm(id,date_d,date_f,lampe, id_plan){

var addCmdBtn = document.getElementById("add_cmd_btn");

var table = document.getElementById("table");
  var my_form  = document.getElementById("edit_form_div").style.display="block";
  addCmdBtn.style.display = "none";
  table.style.display = "none";
  document.getElementById("edit_lamp_selector").value = id;
  document.getElementById("id_plan_hidden").value = id_plan;


}

</script>

    
  <script type="module" src="{% static  'js/planification.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>
</html>
