{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <link rel="stylesheet" href="{% static  'css/style.css '%}">
  <link rel="stylesheet" href="{% static  'css/planification.css '%}">
  <link rel="stylesheet" href="{% static  'css/visu.css '%}">

  <title>Gestion Technique des Batiments</title>
</head> 


<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span style="font-size: 72px;margin-left: 20px;" class="title">G T B</span>
                </a>
            </li>

            <li>
                <a id="dashboard" href="/dashboard">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a id="pilotage" href="/pilotage">
                    <span class="icon">
                        <ion-icon name="flash-outline"></ion-icon>
                    </span>
                    <span class="title">Pilotage</span>
                </a>
            </li>

            <li>
                <a id="configurationgtb" href="/configurationgtb">
                    <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="title">Configuration GTB</span>
                </a>
            </li>

            <li>
                <a id="visualisation" href="/visualisation">
                    <span class="icon">
                        <ion-icon name="analytics-outline"> </ion-icon>
                    </span>
                    <span class="title">Visualisation</span>
                </a>
            </li>
            <li>
              <a id="Planification" href="/planification">
                  <span class="icon">
                      <ion-icon  name="code-working-outline"></ion-icon>
                  </span>
                  <span class="title">Planification Automatique</span>
              </a>
          </li>
        </div>

    <div class="main">
          <div class="topbar">
              <div class="toggle">
                  
              </div>

            
             
          </div>



          <h1 class="v" >  Visualisation Courbe</h1>

         
<div class="rows">
  
  <div  class="row">
    {% for item in data %}
    <h1>noeud 1</h1>
    <div class="t" class="graphs">
      <div class="graph">
        <h1 class="lamp_visua" > lampe 1 </h1>
        <div class="lamp1" id="data-canvas" data-item="{{ item }}">
          <canvas id="myChart4" ></canvas>
        </div> 
      </div>

    {% endfor %}

  
    </div>
  </div>


</div>

          
        
<div style="width: 900px; margin: 0 auto;" class="total">
  
         
  <div class="top-bar">
    <ul>
      <li><a class="active" href="#année">par année</a></li>
      <li><a href="#mois">par mois</a></li>
      <li><a href="#jour">par jour</a></li>
      <li><a href="#heure">par heure</a></li>
    </ul>
  </div>
  

<title>Ma Consommation d'électricité</title>


<div class="container">

<div class="date">
<div class="btns">
<div>
<label for="fromDate">Du</label>
<input type="date" id="fromDate">
</div>
<div>
<button type="submit">Valider</button>

</div>
</div> 
<h1>Ma Consommation d'électricité par heure (en Kwh)</h1>
</div>
<div class="chart">
<div class="chart-container">
<canvas id="myChart4" ></canvas>
</div>
</div>
</div>

</div>


      </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>


var data =[]
var arr = JSON.parse(document.getElementById("data-canvas").getAttribute('data-item'));
for (let index = 0; index < arr.length -1; index+=2) {
  const element = arr[index].reduce((partialSum, a) => partialSum + a, 0) + arr[index+1].reduce((partialSum, a) => partialSum + a, 0);
  data.push(element/4);
  
}
var ctx = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["00h00", "02h00", "04h00","06:00", "08h00", "10h00","12h00", "14h00","16h00", "18h00", "20h00","22h00"],
        datasets: [{
            label:'',
            data: data,
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

  <script type="module" src="{% static  'js/1.js' %}"></script>

<script>



</script>
  <!-- =========== Scripts =========  -->
  <!-- <script src="assets/js/main.js"></script> -->

  <!-- ====== ionicons ======= -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>


