{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <link rel="stylesheet" href="{% static  'css/style.css '%}">
  <link rel="stylesheet" href="{% static  'css/planification.css '%}">

  <title>Gestion Technique des Batiments</title>
</head> 


<body>
  <!-- =============== Navigation ================ -->
  <div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span style="font-size: 22px;margin-left: 20px;" class="title">GTB</span>
                </a>
            </li>

            <li>
                <a id="dashboard" href="/dashboard">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a id="pilotage" href="/pilotage">
                    <span class="icon">
                        <ion-icon name="flash-outline"></ion-icon>
                    </span>
                    <span class="title">Pilotage</span>
                </a>
            </li>

            <li>
                <a id="configurationgtb" href="/configurationgtb">
                    <span class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </span>
                    <span class="title">Configuration GTB</span>
                </a>
            </li>

            <li>
                <a id="visualisation" href="/visualisation">
                    <span class="icon">
                        <ion-icon name="analytics-outline"> </ion-icon>
                    </span>
                    <span class="title">Visualisation</span>
                </a>
            </li>
            <li>
              <a id="Planification" href="/planification">
                  <span class="icon">
                      <ion-icon  name="code-working-outline"></ion-icon>
                  </span>
                  <span class="title">Planification Automatique</span>
              </a>
          </li>
        </div>

    <div class="main">
          <div class="topbar">
              <div class="toggle">
                  <ion-icon name="menu-outline"></ion-icon>
              </div>

            
              <div class="user">
                  <img src="assets/imgs/customer01.jpg" alt="">
              </div>
          </div>

          
        
         <div style="display: flex;
          justify-content: space-around; flex-wrap: wrap;" class="content-container" id="content-container"> 

            <!-- <div style="width: 500px; height: 200px; margin: 30px 0;">
              <canvas id="myChart1" ></canvas>
            </div> 
          <div style="width: 500px; height: 200px; margin: 30px 0;">
            <canvas id="myChart2" ></canvas>
          </div>

          <div style="width: 500px; height: 200px; margin: 30px 0;">
            <canvas id="myChart3" ></canvas>
          </div>  -->
          

           
          <!-- <div style="width: 500px; height: 200px; margin: 30px 0;">
            <canvas id="myChart5" ></canvas>
          </div> 
          <div style="width: 500px; height: 200px; margin: 30px 0;">
            <canvas id="myChart6" ></canvas>
          </div>  -->



          <div>
            <div class="top-bar">
              <ul>
                <li><a class="active" href="#home">par année</a></li>
                <li><a href="#news">par mois</a></li>
                <li><a href="#contact">par jour</a></li>
                <li><a href="#about">par heure</a></li>
              </ul>
            </div>
            <!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ma Consommation d'électricité</title>

  
</head>
<body>

  <div class="container">
    <div class="date">
      <div class="btns">
        <div>
          <label for="fromDate">Du</label>
          <input type="date" id="fromDate">
        </div>
        <div>
          <button type="submit">Valider</button>
          <button type="submit">Télécharger</button>
        </div>
      </div> 
      <h1>Ma Consommation d'électricité par heure (en Kwh)</h1>
    </div>
    <div class="chart">
      <div class="chart-container">
        <canvas id="myChart4" ></canvas>
      </div>
    </div>
  </div>

</body>
</html>


      </div>
  </div>



<style>
  .top-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.top-bar li {
  float: left;
}

.top-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-bar li a:hover {
  background-color: #111;
}
</style>


  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  
  
var ctx = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["00h00", "02h00", "04h00","06:00", "08h00", "10h00","12h00", "14h00","16h00", "18h00", "20h00","22h00"],
        datasets: [{
            label:'',
            data: [0.5,0.7,1,1.5,0.5,0.7,1,1.5,0.5,0.7,1,1.5,0.5,0.7,1,1.5, ],
            backgroundColor: [
                'rgba(54, 162, 235, 0.8)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

  <script type="module" src="{% static  'js/1.js' %}"></script>

<script></script>
  <!-- =========== Scripts =========  -->
  <!-- <script src="assets/js/main.js"></script> -->

  <!-- ====== ionicons ======= -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>


